<?xml version="1.0" encoding="ISO-8859-1" ?>
<clusters>
  <port>4200</port>
  <replicaPort>4201</replicaPort>

  <store>
    <name>unsortedStore</name>
    <path>data</path>
    <delay>false</delay>
    <mode>0</mode>
    <freq>10</freq>
    <batchSize>1</batchSize>
    <sorted>false</sorted>
    <!-- if setting up replication to another node
    <replicaUrl>other-node-host:4201</replicaUrl>
    -->
  </store>

  <store>
    <name>sortedStore</name>
    <path>data</path>
    <delay>false</delay>
    <mode>0</mode>
    <freq>10</freq>
    <batchSize>1</batchSize>
    <sorted>true</sorted>
    <!-- if setting up replication to another node
    <replicaUrl>other-node-host:4201</replicaUrl>
    -->
  </store>
</clusters>

